{% extends 'my_app/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block htmlhead %}
    {% load static %}
    {% endblock htmlhead %}

</head>
<body>
    {% block content %}
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <H1 style="margin-left: -500px; font-family: sans-serif;">LAPEEERR? SHOPEEFOOD SOLUSINYA</H1>
          </div>
        </div>
      </div>

      <p></p>

    {% endblock %}
</body>
</html>